@font-face {
    font-family: "MC";
    src:url("fonts/MC/MC.ttf");
    font-weight: : 200;
}
    @font-face {
    font-family: "ca";
    src:url("fonts/ca/ca.ttf");
    font-weight: : 200;
}

#t1header {
    color:rgb(7, 250, 250);
    font-family:MC, Helvetica, sans-serif;
    text-align:justify;
    font-size:xx-large;
    font-style: italic;   
    font-weight: bolder;
}
#t2header {
    color:rgb(255, 0, 170);
    font-family:MC, Helvetica, sans-serif;
    text-align:justify;
    font-size:xx-large;
    font-weight: bolder;    
}
.gomb1 {
    font-family:CA, Helvetica, sans-serif;
    background-color: hsla(214, 79%, 50%, 0.535); /* Green */
    border: 1px;
    border-style: solid;
    color: black;
    padding:0 0 0 0;
    text-align: center;
    display: inline-block;
    font-size:xx-large;
    font-weight: bolder;
    margin: 33px 8px;
    cursor: pointer;
    border-radius: 24px;
  }
.also {
    image-rendering: auto;
    background-image:url(/img/mancs.jpg)
}
.container {
    border-color: slateblue;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    background-color: black;
}
.fejlec {
    border-color: rgb(4,255,12);
    border-width: 2px;
    border-style: solid;
    border-radius: 46px;
    background-image: url(/img/pinkkloud.jpg);
    
}
.fokep {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: crimson;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: black;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: rgb(190, 12, 161);
  text-decoration: underline;
}

/* Centered text */
.centered {
  position: absolute;
  top: 60%;
  left: 52%;
  transform: translate(-50%, -50%);
  color:pink;
}
